*.html
*.vo
*.vok
*.vos
*.glob
*.aux
*.vscode
.depend
coqdoc.css
*.cache
*.o

makefile.conf
CoqMakefile
CoqMakefile.conf

theoremParser/theoremParser
theoremParser/showLatex.md

proofParser/proofParser